<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn80eoB2NAjWHEYBLtLa1xWpx4LRt29KU</string>
	<key>GCM_SENDER_ID</key>
	<string>131823254230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ronakj.notesapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-9e379</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-9e379.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131823254230:ios:db5b316b89b7501a702777</string>
</dict>
</plist>